rel_path_train_images = mnist-datasets/single-image.idx3-ubyte
rel_path_train_labels = mnist-datasets/single-label.idx1-ubyte

rel_path_test_images = mnist-datasets/single-image.idx3-ubyte
rel_path_test_labels = mnist-datasets/single-label.idx1-ubyte

rel_path_log_file = log_predictions-ci.txt

num_epochs = 10000
batch_size = 1
hidden_size = 500
learning_rate = 1E-3