num_epochs = 5
batch_size = 60000
hidden_size = 500
learning_rate = 1E-3

rel_path_train_images = mnist-datasets/train-images.idx3-ubyte
rel_path_train_labels = mnist-datasets/train-labels.idx1-ubyte

rel_path_test_images = mnist-datasets/t10k-images.idx3-ubyte
rel_path_test_labels = mnist-datasets/t10k-labels.idx1-ubyte

rel_path_log_file = log_predictions.txt
